// prettier-ignore
{
    "extends": [
      "react-app",
      "react-app/jest"
    ],
    "rules": {
        "no-console": "warn",
        "prefer-const": "error",
        "quotes": ["warn", "single"],
        "jsx-quotes": ["warn", "prefer-single"],
        "indent": ["warn", 2],
        "max-len": ["error", {"code": 120}],
        "comma-dangle": ["off"],
        "semi": ["warn", "always"],
        "import/order": ["warn", {
            "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"],
            "newlines-between": "always-and-inside-groups"
        }]
    }
}
